@at-root {
  .buy-banners-page {
    .btn {
      line-height: 1.1;
      letter-spacing: 0;
    }

    .discount-text {
      letter-spacing: -0.04em;
    }

    .top-banner {
      .text-block {
        z-index: 1; // чтобы даже если текст налезет на картинку, текст все равно был сверху.
        line-height: 20;
      }

      .text-dot-divider {
        height: 3px;
        width: 3px;
        border-radius: 50%;
        background: white;
        opacity: 15%;
      }

      .buy-button {
        .text-wrapper {
          color: transparent;
          text-shadow: 0px 0px 30px rgba(102, 204, 255, 0.2);
          background-clip: text;
          background-image: linear-gradient(
            90deg,
            rgba(11, 11, 11, 0.5) 0%,
            #0b0b0b 33.33%
          );
        }
      }
      .bg-image {
        position: absolute;
        left: -59px;
        // Считаю что планшет это от 768 до 1200. Все что ниже - телефон. Все что выше - десктоп. Надо предоставлять инфу по брейкпоинтам.
        @media screen and (min-width: 768px) {
          left: -32px;
        }

        @media screen and (min-width: 1200px) {
          left: 8px;
        }
      }

      .right-buttons {
        position: absolute;
        right: 24px;
      }
    }

    .bottom-banner {
      $banner-height: 350px;
      $banner-width: 600px;
      max-width: 100%;
      width: $banner-width;
      height: $banner-height;

      position: fixed;
      top: calc(100vh - $banner-height - 17px);
      overflow: hidden;

      &.hidden-until-scroll{
        height: 0;
        opacity: 0;
        margin-top: 200px;
        will-change: height, margin-top, opacity;
      }

      &.shown-on-scroll{
        transition: all .5s ease-in-out;
        height: $banner-height;
        opacity: 1;
        margin-top: 0px;
      }

      &.desktop-block {
        position: fixed;
        right: 17px;
        margin-left: auto;
        overflow: hidden; // чтобы картинка сзади, смещенная влево, не портила вид
      }

      .close-button {
        position: absolute;
        top: 20px;
        right: 20px;
      }

      .bg-image {
        position: absolute;
        height: 100%;
        width: fit-content;
        object-fit: contain;

        left: -150px;
        // Считаю что планшет это от 768 до 1200. Все что ниже - телефон. Все что выше - десктоп. Надо предоставлять инфу по брейкпоинтам.
        @media screen and (min-width: 768px) {
          left: -0px;
        }
      }

      .text-block {
        z-index: 1;

        .gradient-text-brand2 {
          color: transparent;
          background-clip: text;
          background-image: linear-gradient(
            90deg,
            rgba(125, 83, 21, 0.6) 10%,
            #eddf95 90%
          );
        }
      }

      .buy-button {
        line-height: 1.1;
        letter-spacing: 0.005em;
      }
    }
  }
}
