@use "variables" as *;

@at-root {

  
  .article {
    font-size: 14px;
    font-family: font('Graphik_LCG');
    font-weight: 500;

    @media screen and (min-width: 992px) {
      font-size: 16px;
    }

    .image {
      // width: 100%; // по дефолту картинка full-width
      max-width: 100%;
      height: auto;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .page-heading {
      font-weight: 700;
      margin-bottom: 30px;
      font-size: 30px;  
      color: color("green");

      @media screen and (min-width: 992px) {
        font-size: 40px;
      }
    }

    .section-heading {
      font-weight: 700;
      margin-bottom: 30px;
      font-size: 20px;  
      color: color("green");

      @media screen and (min-width: 992px) {
        font-size: 26px;
      }
    }
  }
}
