@use "variables" as *;

@at-root {
  $max-border-width: 10;

  $radiuses: 1, 2, 3, 5, 10, 15, 20, 25, 50, 100;

  .border-0 {
    border: none;
  }

  .border-none {
    border: none;
  }

  @for $i from 0 through $max-border-width {
    .border-width-#{$i} {
      border-width: $i + px!important;
    }
  }

  @each $value in $radiuses {
    .border-radius-#{$value} {
      border-radius: $value + px!important;
    }
  }
}
