@use "variables" as *;

// at-root позволяет определять и работать с file-scoped variables
@at-root {
  // /* color helpers */

  @each $name, $value in $colors {
    .border-#{$name} {
      border: 1px solid $value!important;
    }
    .border-color-#{$name} {
      border-color: $value!important;
    }
    .color-#{$name} {
      color: $value!important;
    }
    .bg-#{$name} {
      background: $value!important;
    }
  }

  /* endof color helpers */
}
