@use "variables" as *;

@at-root {
  .top-line {
    border-bottom: 1px solid color("gray2");
  }

  .menu-line {
    position: sticky;
    top: 0;
    z-index: 100;
    
  }

  .mobile-menu{
    // opacity: 0;
    // margin-top: -100%;
    overflow: hidden;
    height: 0;

    &.open{
      // margin-bottom: 0;
      height: 150px;
      // opacity: 1;
    }
  }
}
