@use "variables" as *;

@at-root {
  .projects-list {
    .list-item-wrapper {
      .list-item {
        .image-wrapper {
          position: relative;

          .image {
            position: static;
            object-fit: contain;
            height: 100%;
            width: auto;
          }
        }

        .title {
          display: flex;
          -webkit-line-clamp: 2;
        }

        .description {
          display: flex;

          -webkit-line-clamp: 4;
        }
      }
    }
  }
}
