@use "sass:map";

$colors: (
    // использую строки как ключи, потому что, например, просто white не работает - ресолвится в hex, наверное.
  "white": #fff,
  "black": #000,

  // по насыщенности цвета, по убыванию:
  "brand": #101010,
  "brand1": #101010,
  "brand2": #D7A830,

  "gray1": #0B0B0B,
  "dark": #0B0B0B,
  "gray2": #6C6C70,
  "gray3": #6b8096,
  "gray": #6b8096,
  "gray4": #e6e6e6,
  "gray5": #f7f7f7,

  "green": #339966,
  "red": #ff1414,
  "red2": #eb5757,
  "yellow": #ffd172,
  "warning": #ffd172,
  "blue": blue,

  "youtube": #FF0000,
  "linkedin": #0A66C2,
  "stackoverflow": #E77B23,
  "telegram": #229ED9,
);

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return "not-found";
}

$fonts: (
  "Montserrat": var(--font-graphik_LCG),
  "Graphik_LCG": var(--font-graphik_LCG),
  "Roboto": var(--font-roboto),
);

@function font($key) {
  @if map-has-key($fonts, $key) {
    @return map-get($fonts, $key);
  }

  @warn "Unknown `#{$key}` in $fonts.";
  @return "not-found";
}